<div class="bg-light text-center footer-column border-top border-primary">國立臺北商業大學資訊管理系(本校行政大樓四樓) 版權所有</br>
10051 台北市中正區濟南路一段 321 號 (捷運板南線善導寺站下車)</br>
Add.: No.321, Sec. 1, Jinan Rd., Zhongzheng District, Taipei City 10051, Taiwan (R.O.C.)</br>
聯絡電話 886-2-23226408~6413 傳真電話 886-2-23226414</div>