<nav class="navbar justify-content-between navbar-column border">
  <a class="navbar-brand navbar-column">給我一個IP ，我給你全世界。</a>
  <form class="form-inline form-style">
    <input class="form-control mr-sm-2 form-style" type="search" placeholder="Keyword" aria-label="Search">
    <button class="btn btn-outline-success my-2 my-sm-0 form-style" type="submit">Search</button>
  </form>
</nav>