<div class="h3">國立臺北商業大學資訊管理系
  <img src="http://imd.ntub.edu.tw/ezfiles/34/1034/sys_1034_5236900_56708.png" class="head-img-style" href="#" alt="Responsive image">
</div>
<%= render "home/breadnav" %>
<%= render "home/mainrow" %>
